<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miwok"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Family_Members"
            android:exported="false"
            android:label="Family Members"
            android:theme="@style/Theme.Miwok.Family_Members"/>
        <activity
            android:name=".Activities.Phrases"
            android:exported="false"
            android:label="Phrases"
            android:theme="@style/Theme.Miwok.Phrases"/>
        <activity
            android:name=".Activities.Colors"
            android:exported="false"
            android:label="Colors"
            android:theme="@style/Theme.Miwok.Colors"/>
        <activity
            android:name=".Activities.Numbers"
            android:exported="false"
            android:label="Numbers"
            android:theme="@style/Theme.Miwok.Numbers"

            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Miwok Translation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>